# Ignore Mac system files
.DS_store

# Ignore files related to API keys
.env

# To ignore flask environment variables to load in github
Cleric


# to ignore models to upload in github
/models

#to ignore call log files to github
/uploads
