annotated-types==0.6.0
asgiref==3.8.1
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
Django==5.0.4
filelock==3.14.0
Flask==3.0.3
fsspec==2024.3.1
huggingface-hub==0.23.0
idna==3.7
itsdangerous==2.2.0
jax==0.4.25
Jinja2==3.1.3
MarkupSafe==2.1.5
ml-dtypes==0.3.2
numpy==1.26.4
opt-einsum==3.3.0
packaging==24.0
platformdirs==4.2.0
pydantic==2.7.1
pydantic_core==2.18.2
PyYAML==6.0.1
regex==2024.5.10
requests==2.31.0
safetensors==0.4.3
scipy==1.12.0
sqlparse==0.5.0
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.40.2
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.25.0
Werkzeug==3.0.2
